.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image{
  width:350px;
}
.track{
  position:relative;
  top:-10%;
  /*left:50%;*/
  letter-spacing: 2px;
  color: rgba(255, 0, 0, 0.5);
  font-size: 20px;
}

@media (max-width: 770px){
  .container{
    margin: 0 10%;
  }

  .image{
    width:90%;
  }

  .track{
    top:10vh;
  }
}




h1{
  font-family: 'Varela Round', sans-serif;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.btn:hover{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.country-selector{
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

@media screen and (max-width: 992px){
  .symp-img{
    display: none;
  }
  .home-img{
    display: none;
  }
  .home-container{
    padding: 0;
    height: 80vh;
  }
  .home-row{
    margin-top: '80px';
  }
}
